.App {
  background-color: rgb(250, 250, 250);
  height:90vh;
}

.no-decoration {
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(22, 55, 103);
  display: flex;
  z-index: 100;
  color: rgb(255, 255, 255);
  min-height: 64px;
}

.left img {
  margin: 16px;
  width: 150px;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  .actualité {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: NeoSansPro, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(22, 55, 103);
    margin-left: 16px;
  }

  .contour {
    border-radius: 16px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px;
    max-width: 830px;
    flex-wrap: wrap;
    padding: 24px 24px 0px;
    width: fit-content;
    background-color: white;

    .card-body {
      padding: 0;

      img {
        width: 359px;
        height: 224px;
      }

      .card-subtitle {
        margin-bottom: 8px;
        text-transform: uppercase;
        color: rgba(31, 34, 38, 0.6);
        font-weight: bold;
        margin: 16px 16px;
        display: flex;
      }

      .card-title {
        color: rgb(22, 55, 103);
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -0.00833em;
        display: flex;
        margin: 8px 16px;
      }

      .card-text{
        display: flex;
        margin: 8px 16px;
      }

    }

    .card {
      height: 443px;
      width: 359px;
      margin: 16px;
      position: relative;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    }
  }
}